<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BestCalculator.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A2657BC426404CF10040FBF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2657BDD26404CF30040FBF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2657BE826404CF30040FBF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
